@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    
    .btn{
        @apply bg-main py-2 px-4 rounded-lg inline-block font-semibold border border-main hover:bg-transparent hover:text-main transition duration-300
    }
}

@layer base{
    html{
        @apply scroll-smooth;
    }
    
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: dodgerblue;

}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

